* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.key {
  position: relative;
  -webkit-animation: animate 1s ease-in-out infinite;
          animation: animate 1s ease-in-out infinite;
}

.key__img {
  width: 190px;
}

.key__time {
  width: 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes animate {
  0%, 100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes animate {
  0%, 100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: powderblue;
}

.field {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  width: 300px;
  height: 40px;
  border-radius: 0.4rem;
  margin-top: 10px;
  -webkit-box-shadow: 2px 2px;
          box-shadow: 2px 2px;
}

.field:focus {
  outline: none;
}

.button {
  font-family: 'Press Start 2P';
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 2px 2px;
          box-shadow: 2px 2px;
}

.button__sair {
  font-family: 'Press Start 2P';
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 2px 2px;
          box-shadow: 2px 2px;
  margin-right: 15px;
}

.button:focus {
  outline: none;
}

.wellcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1f161e;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aling {
  font-family: 'Press Start 2P';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.time {
  text-shadow: 1px 1px 10px #f085c3;
  font-size: 25px;
  font-family: 'Press Start 2P';
  color: deeppink;
}

.text {
  text-align: center;
  text-shadow: 1px 1px 10px #f085c3;
  padding-top: 10px;
  color: deeppink;
  font-size: 10px;
  line-height: 15px;
}

.text__title {
  text-align: center;
  font-family: 'Press Start 2P';
  text-shadow: 1px 1px 10px #f085c3;
  font-size: 20px;
  margin-bottom: 40px;
  color: deeppink;
}
/*# sourceMappingURL=styles.css.map */